body {
  margin: 0;
  font-family: "Marmelad", sans-serif;
  color: #ED5F75;
}

/* Main Page */
.fitblend-home {
  background-image: url(./images/bg-main.png);
  height: 100vh;
}

.fitblend-padding {
  padding: 5rem;
}

.fitblend-navbar {
  display: flex;
  justify-content: space-between;
}

.fitblend-menu {
  font-size: 1.2rem;
  color: #ED5F75;
  text-decoration: none;
}

.fitblend-menu:hover {
  text-decoration: underline;
}

.home-content {
  text-align: center;
  height: calc(100vh - 14rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-heading {
  font-size: 3rem;
}

.home-description {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 5rem;
}

.smoothie-gallery {
  display: flex;
  justify-content: space-around;
  margin: 0 15rem;
}

.smoothie-image {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
}

.smoothie-image img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smoothie-image:hover img {
  transform: scale(1.1);
}

/* SMOOTHIE PAGE */

.smoothie-container {
  background-image: url(./images/bg-smoothie1.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.smoothie-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  font-size: 1.2rem;
  color: #7A7A7A;
}

hr {
  border: 0;
  height: 0;
  border-top: 2px solid #7A7A7A;
  width: 97%;
}

.ingredients-data {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  font-family: "Manrope", sans-serif;
  display: flex;
  color: #7A7A7A;
}

.ingredient {
  border-right: 2px solid #7A7A7A;
  padding: 1rem;
  text-align: center;
}

.ingredient:last-child {
  border: 0px;
}

.ingredient-name {
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  color: #616161;
}

.ingredient-amount {
  margin: 0;
}

.ingredients-funfact {
  position: absolute;
  top: 10rem;
  left: 5rem;
  background-color: #ffffff6e;
  color: #7A7A7A;
  padding: 3rem;
  width: 40rem;
  padding-left: 7rem;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #ffffff6e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot:hover {
  background-color: #ffffffe6;
}

.dot.active {
  background-color: #fff;
}

.ingredient-number {
  position: absolute;
  top: 0rem;
  left: 1.5rem;
  font-size: 10rem;
  color: #F7CDC7;
  z-index: 0;
}

.ingredient-title {
  font-size: 3.5rem;
  color: #616161;
  position: relative;
  z-index: 100;
  font-weight: 400;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.ingredient-desc {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  position: relative;
  margin: 0;
  z-index: 100;
}

/* Quiz Page */

.quiz-container {
  background-image: url(./images/bg-questions.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;
}

.quiz-navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-family: "Marmelad", sans-serif;
}

.quiz-menu {
  font-size: 1.5rem;
  color: #ED5F75;
  text-decoration: none;
}

.quiz-menu:hover {
  text-decoration: underline;
}

.quiz-content {
  height: calc(100vh - 3.8rem);
  display: flex;
}

.quiz-left {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-right {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-left-padding {
  padding: 8rem;
}

.que-number {
  font-size: 3rem;
  font-weight: 400;
}

.que {
  font-family: "Manrope", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.quiz-option {
  background-color: #FCEFE5;
  color: rgb(70, 70, 63);
  border: 0px;
  width: 70%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: left;
}

.quiz-option:hover {
  background-color: #ffd1cb;
  cursor: pointer;
}

.quiz-option:focus {
  background-color: #ECB6AF;
  border: 1px solid #BC695E;
}

.check-button {
  border: 1px solid #BC695E;
  background-color: #FCEFE5;
  color: #BC695E;
  padding: 10px 20px;
  width: 70%;
  margin-top: 5rem;
  font-weight: 800;
}

.check-button:hover {
  background: #BC695E;
  color: beige;
  cursor: pointer;
}



.next {
  border: 2px solid rgb(87, 162, 62);
  color: rgb(87, 162, 62);
}

.wrong-outline {
  border: 1px solid rgb(251, 103, 103);
}

.error-text {
  color: #BC695E;
  font-size: 15px;
}

.correct-outline {
  border: 2px solid rgb(87, 162, 62);
}

.success-text {
  color: rgb(87, 162, 62);
  font-size: 15px;
}









/* NAV */

.nav {
  background-color: #6c6c6c;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.nav a:hover {
  color: #9EA864;
  text-decoration: none;
  margin-right: 10px;
  background-color: beige;
}

.nav_button {
  background-color: #4CAF50;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* Layout */
.layoutContainer {
  height: 94vh;
}

/* Smoothis Lessons Page */


.smoothie-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.smoothie-details {
  padding: 5rem;
}

.smoothie-title {
  font-family: "Coustard", serif;
  font-size: 48px;
  color: #232323;
  margin-bottom: 20px;
}

.smoothie-content {
  font-family: "Crete Round", serif;
  color: #232323;
  font-size: 18px;
  margin-bottom: 10px;
}

.smoothie-drinking-time {
  color: #232323;
  font-style: italic;
  margin-bottom: 30px;
}

.smoothie-ingredient-funfact {
  background-color: #DCDCDC;
  border: 1px solid #b9b9b9;
  padding: 0.5rem;
}

.smoothie-ingredients {
  color: #232323;
  display: flex;
}

.ingredient-detail {
  flex: 1;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.ingredient-detail:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.ingredient-detail-name {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.ingredient-detail-amount {
  font-size: 1rem;
  color: #FFFFFF;
}

.smoothie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.smoothie-image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.button-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 5px 10px;
  border: 0px;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.button-right:hover {
  background-color: #000;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
}

/* Quiz */

/* .quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E8EFBC;
  height: 100%;
} */


/* Home Page */
/* .home_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FBFFE2;
} */

.home_padding {
  padding: 5rem;
  text-align: center;
  color: #9EA864;
}

.main_btn {
  border: 1px solid #E8EFBC;
  background-color: #C2CB8F;
  color: beige;
  padding: 10px 20px;
  border: 0;
}

.main_btn:hover {
  background-color: #9EA864;
  cursor: pointer;
}

.secondary_btn {
  border: 1px solid #E8EFBC;
  background-color: beige;
  color: #C2CB8F;
  padding: 10px 20px;
  margin-left: 10px;
}

.secondary_btn:hover {
  background-color: #9EA864;
  color: beige;
  cursor: pointer;
}