body {
  font-family: "EB Garamond", serif;
  margin: 0;
}

/* Navbar */
/* .nav {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_button {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 5px 10px;
  text-decoration: none;
}

.nav_button:hover {
  background-color: rgba(0, 0, 0, 0.745);
  cursor: pointer;
} */

.nav {
  background-color: #9EA864;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.nav_button {
  background-color: #4CAF50;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/* Layout */
.layoutContainer {
  height: 94vh;
}

/* Smoothis Lessons Page */

.smoothie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  height: 100%;
}

.smoothie-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}

.smoothie-id-1{
  background-color: #F1D0D7;
  .smoothie-title {
    color: #B59198;
  }
  .smoothie-content {
    color: #B59198;
  }
  .ingredient-detail:nth-child(1) {
    background-color: #D2A9B1;
  }.ingredient-detail:nth-child(2) {
    background-color: #B59198;
  }.ingredient-detail:nth-child(3) {
    background-color: #FFEFF3;
    .ingredient-detail-name, .ingredient-detail-amount{
      color: #B59198;
    }
  }.ingredient-detail:nth-child(4) {
    background-color: #D2A9B1;
  }
}

.smoothie-id-2{
  background-color: #F9E2C4;
  .smoothie-title {
    color: #B09166;
  }
  .smoothie-content {
    color: #B09166;
  }
  .ingredient-detail:nth-child(1) {
    background-color: #CFB086;
  }.ingredient-detail:nth-child(2) {
    background-color: #B09166;
  }.ingredient-detail:nth-child(3) {
    background-color: #FFF1DF;
    .ingredient-detail-name, .ingredient-detail-amount{
      color: #B09166;
    }
  }.ingredient-detail:nth-child(4) {
    background-color: #CFB086;
  }
}

.smoothie-id-3{
  background-color: #F1D0D7;
  .smoothie-title {
    color: #B59198;
  }
  .smoothie-content {
    color: #B59198;
  }
  .ingredient-detail:nth-child(1) {
    background-color: #D2A9B1;
  }.ingredient-detail:nth-child(2) {
    background-color: #B59198;
  }.ingredient-detail:nth-child(3) {
    background-color: #FFEFF3;
    .ingredient-detail-name, .ingredient-detail-amount{
      color: #B59198;
    }
  }.ingredient-detail:nth-child(4) {
    background-color: #D2A9B1;
  }
}

.smoothie-id-4{
  background-color: #F9E2C4;
  .smoothie-title {
    color: #B09166;
  }
  .smoothie-content {
    color: #B09166;
  }
  .ingredient-detail:nth-child(1) {
    background-color: #CFB086;
  }.ingredient-detail:nth-child(2) {
    background-color: #B09166;
  }.ingredient-detail:nth-child(3) {
    background-color: #FFF1DF;
    .ingredient-detail-name, .ingredient-detail-amount{
      color: #B09166;
    }
  }.ingredient-detail:nth-child(4) {
    background-color: #CFB086;
  }
}

.smoothie-id-5{
  background-color: #FFCD4E;
  .smoothie-title {
    color: #B38D2B;
  }
  .smoothie-content {
    color: #B38D2B;
  }
  .ingredient-detail:nth-child(1) {
    background-color: #DBA825;
  }.ingredient-detail:nth-child(2) {
    background-color: #B38D2B;
  }.ingredient-detail:nth-child(3) {
    background-color: #FFE8AC;
    .ingredient-detail-name, .ingredient-detail-amount{
      color: #B38D2B;
    }
  }.ingredient-detail:nth-child(4) {
    background-color: #DBA825;
  }
}

.smoothie-details {
  padding: 5rem;
}

.smoothie-title {
  font-family: "Coustard", serif;
  font-size: 48px;
  color: #232323;
  margin-bottom: 20px;
}

.smoothie-content {
  font-family: "Crete Round", serif;
  color: #232323;
  font-size: 18px;
  margin-bottom: 10px;
}

.smoothie-drinking-time {
  color: #232323;
  font-style: italic;
  margin-bottom: 30px;
}

.smoothie-ingredient-funfact {
  background-color: #DCDCDC;
  border: 1px solid #b9b9b9;
  padding: 0.5rem;
}

.smoothie-ingredients {
  color: #232323;
  display: flex;
}

.ingredient-detail {
  flex: 1;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.ingredient-detail:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.ingredient-detail-name {
  font-size: 1.5rem;
  color: #FFFFFF;
}

.ingredient-detail-amount {
  font-size: 1rem;
  color: #FFFFFF;
}

.smoothie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex: 1;
}

.smoothie-image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.button-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 5px 10px;
  border: 0px;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.button-right:hover {
  background-color: #000;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
}

/* Quiz */

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E8EFBC;
  height: 100%;
}

.quiz-question-container {
  flex: 1;
  /* padding: 5rem; */
  background-color: #FBFFE2;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quiz-question-container  div{
  padding: 5rem;
}

.question-number {
  color: #9EA864;
}

.question {
  color: #9EA864;
}

.quiz-options-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-option {
  background-color: #C2CB8F;
  font-family: "EB Garamond", serif;
  color: rgb(70, 70, 63);
  border: 0px;
  width: 70%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: left;
}

.quiz-option:hover {
  background-color: beige;
  cursor: pointer;
}

.quiz-option:focus {
  background-color: beige;
}

.check-button {
  border: 1px solid #C2CB8F;
  background-color: beige;
  color: #9EA864;
  padding: 10px 20px;
  width: 70%;
  margin-top: 5rem;
  font-weight: 800;
}

.check-button:hover {
  background: #9EA864;
  color: beige;
  cursor: pointer;
}

.next {
  border: 2px solid rgb(87, 162, 62);
  color: rgb(87, 162, 62);
}

.wrong-outline {
  border: 1px solid rgb(251, 103, 103);
}

.error-text {
  color: rgb(251, 103, 103);
  font-size: 15px;
}

.correct-outline {
  border: 2px solid rgb(87, 162, 62);
}

.success-text {
  color: rgb(87, 162, 62);
  font-size: 15px;
}

/* Home Page */
.home_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FBFFE2;
}

.home_padding {
  padding: 5rem;
  text-align: center;
  color: #9EA864;
}

.main_btn {
  border: 1px solid #E8EFBC;
  background-color: #C2CB8F;
  color: beige;
  padding: 10px 20px;
  border: 0;
}

.main_btn:hover {
  background-color: #9EA864;
  cursor: pointer;
}

.secondary_btn {
  border: 1px solid #E8EFBC;
  background-color: beige;
  color: #C2CB8F;
  padding: 10px 20px;
  margin-left: 10px;
}

.secondary_btn:hover {
  background-color: #9EA864;
  color: beige;
  cursor: pointer;
}