body {
  font-family: "EB Garamond", serif;
  margin: 0;
}

/* Navbar */
.nav {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_button {
  position: absolute;
  top: 5px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 5px 10px;
  text-decoration: none;
}

.nav_button:hover {
  background-color: rgba(0, 0, 0, 0.745);
  cursor: pointer;
}

/* Layout */
.layoutContainer {
  height: 100vh;
}

/* Smoothis Lessons Page */

.smoothie-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  height: 100vh;
}

.smoothie-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.smoothie-details {
  padding: 5rem;
}

.smoothie-title {
  font-size: 48px;
  color: #232323;
  margin-bottom: 20px;
}

.smoothie-content {
  color: #232323;
  font-size: 18px;
  margin-bottom: 10px;
}

.smoothie-drinking-time {
  color: #232323;
  font-style: italic;
  margin-bottom: 30px;
}

.smoothie-ingredient-funfact {
  background-color: #DCDCDC;
  border: 1px solid #b9b9b9;
  padding: 0.5rem;
}

.smoothie-ingredients {
  color: #232323;
  display: flex;
}

.ingredient-detail {
  flex: 1;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
}

.ingredient-detail:nth-child(odd) {
  background-color: #E6E6E6;
}

.ingredient-detail:nth-child(even) {
  background-color: #DCDCDC;
}

.ingredient-detail:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.ingredient-detail-name {
  font-size: 1.5rem;
}

.smoothie-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smoothie-image-container img {
  height: 100vh;
}

.button-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 5px 10px;
  border: 0px;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.button-right:hover {
  background-color: #000;
  cursor: pointer;
  height: 6rem;
  width: 6rem;
}

/* Quiz */

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  height: 100vh;
}

.quiz-question-container {
  flex: 1;
  padding: 5rem;
  background-color: #E6E6E6;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quiz-options-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-option {
  background-color: rgba(0, 0, 0, 0.516);
  font-family: "EB Garamond", serif;
  color: beige;
  border: 0px;
  width: 70%;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: left;
}

.quiz-option:hover {
  background-color: rgba(0, 0, 0, 0.725);
  cursor: pointer;
}

.quiz-option:focus {
  background-color: rgba(0, 0, 0, 0.895);
}

.check-button {
  border: 1px solid #232323;
  color: #232323;
  padding: 10px 20px;
  width: 70%;
  margin-top: 5rem;
  font-weight: 800;
}

.check-button:hover {
  background: #232323;
  color: beige;
  cursor: pointer;
}

.next {
  border: 2px solid rgb(87, 162, 62);
  color: rgb(87, 162, 62);
}

.wrong-outline {
  border: 1px solid rgb(251, 103, 103);
}

.error-text {
  color: rgb(251, 103, 103);
  font-size: 15px;
}

.correct-outline {
  border: 2px solid rgb(87, 162, 62);
}

.success-text {
  color: rgb(87, 162, 62);
  font-size: 15px;
}

/* Home Page */
.home_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home_padding {
  padding: 5rem;
  text-align: center;
  color: #232323;
}

.main_btn {
  background-color: rgba(0, 0, 0, 0.516);
  color: beige;
  padding: 10px 20px;
  border: 0;
}

.main_btn:hover {
  background-color: rgba(0, 0, 0, 0.745);
  cursor: pointer;
}

.secondary_btn {
  color: #232323;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.516);
  margin-left: 10px;
}

.secondary_btn:hover {
  background-color: rgba(0, 0, 0, 0.745);
  cursor: pointer;
  color: beige;
}